/*--=| shared theme |=--*/
// @import './../../../theme/variables.scss';
@import './../../../theme/shared-styles.scss';

// ion-grid {
//    --ion-grid-padding: 40px;
//    --ion-grid-columns: 4;
//    border: 4px solid greenyellow;
// }

.input {
   @include fontFamilyWeightSize( $fontMerriweather, 500, 1em, var(--ion-color-medium));
}


.col-avatar {
   display: flex;
   flex-direction: column;
   align-items: center;
   // justify-content: center;
}