<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| HEADER CONTAINER |=-->
<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
      <ion-title>details</ion-title>
      <!-- <div *ngIf="mediumWidth" padding slot="end"  -->
         <ion-grid fixed>
            <ion-row>
               <ion-col size="6"></ion-col>
               <ion-col size="6"></ion-col>
            </ion-row>
         </ion-grid>
      <div padding slot="end" 
         class="welcome-user">Welcome {{_afAuth.auth.currentUser.displayName}}
      </div>
      
   </ion-toolbar>
   <!-- xx: {{ receivedParentMessage }} -->
</ion-header>

<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| CONTENT CONTAINER |=-->
<ion-content *ngIf="_afAuth.auth.currentUser" padding>
   
	<ion-grid>
		<ion-row>
         <!-- <ion-col size="10" offset="1" class="input">
               Welcome {{_afAuth.auth.currentUser.displayName}}
         </ion-col> -->
         <!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
         <!--=| Title |=-->
			<ion-col size="10" offset="1">
            <ion-item>
               <ion-label position="stacked" class="edit-header">Title</ion-label>
               <ion-input [(ngModel)]="concept.title" placeholder="Enter your Title here" class="input"></ion-input>
            </ion-item>
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Notes |=-->
				<ion-item>
					<ion-label position="stacked" class="edit-header">Notes</ion-label>
               <ion-textarea [(ngModel)]="concept.notes"
                  rows="6"
                  placeholder="Enter your Notes here"
                  class="input">
					</ion-textarea>
				</ion-item>
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Author |=-->
				<ion-item>
					<ion-label position="stacked" class="edit-header">Author</ion-label>
					<ion-input [(ngModel)]="concept.author" placeholder="Author's name" class="input"></ion-input>
				</ion-item>
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->

				<ion-grid>
					<ion-row>
                  <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
						<!--=| Pick Avatar |=-->
						<ion-col size-sm="6" offset-sm="3" size-md="4" offset-md="0" class="col-avatar">
                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
                        <!--=| Open Modal |=-->
                        <ion-button expand="full" (click)="fOpenModal()">Select Avatar</ion-button>
                        <img src="{{ concept.avatarUrl }}">
                        <ion-label class="ion-text-uppercase">{{ concept.avatarName }}</ion-label>
                  </ion-col>

                  <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
						<!--=| Avatar Short Info |=-->
						<ion-col size="8" style="border-left: 1px solid var(--ion-color-medium-tint2);">
							<ion-label position="stacked" class="edit-header">Avatar Info:</ion-label>
							<ion-textarea placeholder="short avatar description"
								[(ngModel)]="concept.avatarDescription"
								rows="6"
								class="input">
							</ion-textarea>
                  </ion-col>
                  
					</ion-row>
            </ion-grid>

            <div style="border-top: 1px solid var(--ion-color-medium-tint2);"></div>

				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| DUE DATE |=-->
				<ion-grid style="border: 0px solid red; --ion-grid-padding: 0px;">
					<ion-row>
                  <ion-col size="1">
                        <i class="far fa-calendar-alt fa-2x"></i>
                  </ion-col>
						<ion-col size="10">
								<ion-label position="stacked" class="edit-header">Publishing Date:</ion-label>
								<ion-datetime
									display-format="MMM DD, YYYY"
									pickerFormat="MMM DD, YYYY"
                           [(ngModel)]="concept.dateDue"
                           class="input">
                           <!-- style="color: var(--ion-color-medium); border-top: 0px solid red;" -->
								</ion-datetime>
						</ion-col>
						<ion-col size="12"></ion-col>
					</ion-row>
               <div style="border-top: 1px solid var(--ion-color-medium-tint2);"></div>
            </ion-grid>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| FOOTER: ADD BUTTON |=-->
<ion-footer *ngIf="_afAuth.auth.currentUser && !concept.id">
   {{_afAuth.auth.currentUser.displayName}} NO ID YET!
	<ion-toolbar no-padding style="background: var(--ion-color-success-shade2);">

      <ion-button expand="full" fill="clear" color="light" (click)="fAddIdea()">
			<ion-icon name="checkmark" slot="start"></ion-icon>Add a Concept
      </ion-button>

      <ion-button *ngIf="!_afAuth.auth.currentUser" (click)="fSignOut()">Sign Out</ion-button>

	</ion-toolbar>
</ion-footer>
<!--=|•••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| FOOTER: UPDATE AND DELETE BUTTONS |=-->
<ion-footer *ngIf="concept.id">
   <ion-toolbar no-padding no-margin color="medium">
   <!-- {{_afAuth.auth.currentUser.displayName}}
   xx: {{concept.id}} -->
      <ion-grid>
         <ion-row class="details-button-container" no-padding text-center>
            <!--=|•••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
            <!--=| DELETE BUTTON |=-->
            <ion-col class="details-button" no-padding size="6">
               <ion-button  class="delete-button"
                  expand="full"
                  fill="none"
                  (click)="fDeleteIdea()">
                  <ion-icon name="trash" slot="start"></ion-icon>Delete
               </ion-button>
            </ion-col>

            <!--=|•••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
            <!--=| UPDATE BUTTON |=-->
            <ion-col class="details-button" no-padding size="6">
               <ion-button class="update-button"
                  expand="full"
                  fill="none"
                  (click)="fUpdateIdea()">
                  <ion-icon name="create" slot="start"></ion-icon>Update
               </ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-footer>

<!-- =|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|= -->
<!-- <ion-footer>
   <ion-toolbar color="secondary">
      <ion-grid>
         <ion-row>
            <ion-col size="2" offset="10">
               <ion-button *ngIf="_afAuth.auth.currentUser" (click)="fSignOut()">Sign Out</ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-footer> -->