<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| HEADER CONTAINER |=-->
<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>details</ion-title>
	</ion-toolbar>
</ion-header>
<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| CONTENT CONTAINER |=-->
<ion-content *ngIf="_afAuth.auth.currentUser" padding>
	<ion-grid>
		<ion-row>
         <ion-col size="10" offset="1" class="input">
               Welcome {{_afAuth.auth.currentUser.displayName}}
               <!-- Welcome {{user.displayName}} -->
         </ion-col>
			<ion-col size="10" offset="1">
            <!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
            <!--=| Title |=-->
            <ion-item>
               <ion-label position="stacked">Title</ion-label>
               <ion-input [(ngModel)]="concept.title" placeholder="Enter your Title here" class="input"></ion-input>
            </ion-item>
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Notes |=-->
				<ion-item>
					<ion-label position="stacked">Notes</ion-label>
               <ion-textarea [(ngModel)]="concept.notes"
                  rows="4"
                  placeholder="Enter your Notes here"
                  class="input">
					</ion-textarea>
				</ion-item>
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Author |=-->
				<ion-item>
					<ion-label position="stacked">Author</ion-label>
					<ion-input [(ngModel)]="concept.author" placeholder="Author's name" class="input"></ion-input>
				</ion-item>
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Your Name |=-->
				<!-- <ion-item style="border: 1px solid red;">
      <ion-label>Your Name:</ion-label>
      <ion-input type="text" [(ngModel)]="concept.avatarUrl"></ion-input>
   </ion-item> -->

				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Pick Avatar |=-->
				<!-- <ion-item>
      <ion-label>Pick Your Avatar</ion-label>
         <ion-select [(ngModel)]="concept.avatarName">
            <ion-select-option *ngFor="let avatar of avatarSelectOption; let i = index;">
               {{ avatar.avatarName }}
            </ion-select-option>
         </ion-select>
      </ion-item> -->
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Avatar URL: |=-->
				<!-- <ion-item>
         <ion-label>Avatar URL: </ion-label>
         <ion-list >{{ concept.avatarUrl }}</ion-list>
      </ion-item> -->
				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Avatar Short Info |=-->
				<!-- <ion-item>
         <ion-label position="stacked">Avatar Info:</ion-label>
         <ion-textarea [(ngModel)]="concept.avatarInfo" rows="4" class="input"></ion-textarea>
      </ion-item> -->

				<ion-grid>
					<ion-row>
                  <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
						<!--=| Pick Avatar |=-->
						<ion-col size="4" style="border: 0px solid red;" class="col-avatar">
							<!-- <ion-item> -->
                        <!-- <ion-label>Pick Your Avatar</ion-label> -->

                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
								<!-- <ion-select [(ngModel)]="concept.avatarName" interface="popoverX">
									<ion-select-option
                              *ngFor=" let avatar of avatarSelectOption; let i = index;">
                              <p class="input" >
                                 {{ avatar.avatarName }}
                              </p>
									</ion-select-option>
                        </ion-select> -->
                        <!-- <img [src]="concept.avatarUrl" > -->
                     <!-- <ion-icon name="cafe"></ion-icon> -->
                     <!-- <img [src]="concept.avatarUrl"> -->
                     <!-- <img [src]="movie.imageurl"> -->
                     <!-- <div style="background-image: url('./../../../assets/images/Chi.jpg')"></div> -->

                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
                        <!-- <ion-select [(ngModel)]="concept.avatarUrl" class="form-control">
                           <ion-select-option value="Xi">Choose an Avatar</ion-select-option>
                           <ion-select-option *ngFor=" let avatar of avatarSelectOption;" value="{{avatar}}">{{avatar.avatarName}}</ion-select-option>
                           <ion-select-option *ngFor=" let avatar of avatarSelectOption;" value="{{avatar}}">{{avatar.avatarUrl}}</ion-select-option>
                        </ion-select>
                        <img [src]="concept.avatarUrl" > -->

                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
                        <!-- <ion-item>
                           <ion-label>Awesome Label</ion-label>
                        </ion-item> -->
                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
                        <!--=| Open Modal |=-->
                        <ion-button (click)="fOpenModal()">Select Avatar</ion-button>
                        <img src="{{ concept.avatarUrl }}">
                        <ion-label class="ion-text-uppercase">{{ concept.avatarName }}</ion-label>

                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
                        <!-- <ion-avatar class="avatar">
                           <img src="{{ concept.avatarUrl }}">
                        </ion-avatar> -->
                        <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
                        <!-- <div style="border-top: 1px solid var(--ion-color-medium-tint2);"></div>
                        <ion-list text-center>
                           <ion-label>Or Take A Photo:</ion-label>
                           <ion-list>
                              <i class="fas fa-camera fa-3x" data-fa-transform="shrink-8"
                                 style="color: var(--ion-color-tertiary);"></i>
                           </ion-list>
                        </ion-list> -->
							<!-- </ion-item> -->
                  </ion-col>
                  <!--=|*•••••••••••••••••••••••••••••••••••••••••*|=-->
						<!--=| Avatar Short Info |=-->
						<ion-col size="8" style="border-left: 1px solid var(--ion-color-medium-tint2);">
							<ion-label position="stacked">Avatar Info:</ion-label>
							<ion-textarea placeholder="Short avatar info goes here..."
								[(ngModel)]="concept.avatarInfo"
								rows="4"
								class="input">
							</ion-textarea>
						</ion-col>
					</ion-row>
            </ion-grid>
            <div style="border-top: 1px solid var(--ion-color-medium-tint2);"></div>
            <!-- <ion-item></ion-item> -->

				<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
				<!--=| Due Date |=-->
				<ion-grid style="border: 0px solid red; --ion-grid-padding: 0px;">
					<ion-row>
                  <ion-col size="1">
                        <i class="far fa-calendar-alt fa-2x"></i>
                  </ion-col>
						<ion-col size="10">
								<ion-label position="stacked">Due Day:</ion-label>
								<ion-datetime
									display-format="MMM DD, YYYY"
									pickerFormat="MMM DD, YYYY"
                           [(ngModel)]="concept.dateDue"
                           style="color: var(--ion-color-medium);"
                           class="input"
                           style="border-top: 1px solid red;">
								</ion-datetime>
						</ion-col>
						<ion-col size="12"></ion-col>
					</ion-row>
               <div style="border-top: 1px solid var(--ion-color-medium-tint2);"></div>
            </ion-grid>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<!--=|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
<!--=| ADD BUTTON |=-->
<!-- <ion-footer> -->
<ion-footer *ngIf="_afAuth.auth.currentUser && !concept.id">
   {{_afAuth.auth.currentUser.displayName}}
   xx: {{concept.id}}
<!-- <ion-footer *ngIf="!concept.id"> -->
   <!-- x: {{_afAuth.auth.currentUser}}
   xx: {{concept.id}} -->
	<ion-toolbar style="background: var(--ion-color-success-shade2);">

      <ion-button expand="block" fill="clear" color="light" (click)="fAddIdea()">
			<ion-icon name="checkmark" slot="start"></ion-icon>Add a Concept
      </ion-button>

      <ion-button *ngIf="_afAuth.auth.currentUser" (click)="fSignOut()">Sign Out</ion-button>

	</ion-toolbar>
</ion-footer>

<ion-footer *ngIf="concept.id">
   {{_afAuth.auth.currentUser.displayName}}
   xx: {{concept.id}}
	<ion-row no-padding text-center>
		<!--=|•••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
		<!--=| DELETE BUTTON |=-->
		<ion-col size="6">
			<ion-button
				expand="block"
				fill="solid"
				color="danger"
				(click)="fDeleteIdea()">
				<ion-icon name="trash" slot="start"></ion-icon>Delete
			</ion-button>
		</ion-col>

		<!--=|•••••••••••••••••••••••••••••••••••••••••••••••••••••••••|=-->
		<!--=| UPDATE BUTTON |=-->
		<ion-col size="6">
			<ion-button
				expand="block"
            fill="solid"
            color="success"
				(click)="fUpdateIdea()">
				<ion-icon name="trash" slot="start"></ion-icon>Update
			</ion-button>
		</ion-col>
	</ion-row>
</ion-footer>

<!-- =|••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••|= -->
<!-- <ion-footer>
   <ion-toolbar color="secondary">
      <ion-grid>
         <ion-row>
            <ion-col size="2" offset="10">
               <ion-button *ngIf="_afAuth.auth.currentUser" (click)="fSignOut()">Sign Out</ion-button>
            </ion-col>
         </ion-row>
      </ion-grid>
   </ion-toolbar>
</ion-footer> -->