// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #358AB0;
  --ion-color-primary-rgb: 53,138,176;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2f799b;
  --ion-color-primary-tint: #4996b8;

  /** secondary **/
  --ion-color-secondary: #E17C4E;
  --ion-color-secondary-rgb: 225,124,78;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #c66d45;
  --ion-color-secondary-tint: #e48960;

  /** tertiary **/
  --ion-color-tertiary: #ce4a8c;
  --ion-color-tertiary-rgb: 206,74,140;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #b5417b;
  --ion-color-tertiary-tint: #d35c98;

  /** success **/
  --ion-color-success: #52ee00;
  --ion-color-success-rgb: 82,238,0;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #379405;
  --ion-color-success-tint: #63f01a;

  /** warning **/
  --ion-color-warning: #ffd700;
  --ion-color-warning-rgb: 255,215,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bd00;
  --ion-color-warning-tint: #ffdb1a;

  /** danger **/
  --ion-color-danger: #ff330c;
  --ion-color-danger-rgb: 255,51,12;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e02d0b;
  --ion-color-danger-tint: #ff4724;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** optional **/
  --ion-color-medium-tint2: #d7d7d7;
  --ion-color-secondary-tint2: #f7ae8c;
  --ion-color-secondary-tint3: #f7e2d8;
  --ion-color-success-tint2: #bbeea1;
  --ion-color-success-tint3: #ebfce3;
  --ion-color-success-shade2: #379405;
  --ion-color-success-shade3: #2d690d;
  --ion-color-primary-tint2: #6bcef9;
  --ion-color-primary-tint3: #b1e8ff;
  --ion-color-primary-tint4: #cfecfa;
  --ion-color-danger-tint2: #ff4824b4;
  --ion-color-danger-tint3: #ff482463;
  --ion-color-danger-shade2: #ac2409;
  --ion-color-danger-shade3: #6b1605;
}
